language: go
go:
  - master
install:
  - go get github.com/spf13/hugo
script:
  - hugo
before_deploy:
  - openssl aes-256-cbc -K $encrypted_eea40f890051_key -iv $encrypted_eea40f890051_iv -in deploy_rsa.enc -out deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 deploy_rsa
  - ssh-add deploy_rsa
deploy:
  provider: script
  skip_cleanup: true
  on:
    branch: master
  script: rsync -rp --chmod=go=rx --delete -e 'ssh -o StrictHostKeyChecking=no' public $remote_path >/dev/null 2>&1
